* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

/* main styling */
a {
  text-decoration: none;
}

li {
  list-style: none;
}


/* utility */
.clr {
  clear: both;
}

.container {
  margin: auto;
  max-width: 90%;
  overflow: none;
  padding: 0 20px;
}

.current {
  text-decoration: underline !important;
  color: #333 !important;
}

/* cover */
#cover {
  background: url('./images/cover.jpeg') no-repeat center center / cover;
  min-height: 700px;
}

/* navbar */
header {
  padding: 20px 50px;
}

#navbar a {
  color: #333;
  overflow: auto;
  padding: 10px 15px;
}

#navbar a:visited {
  text-decoration: none;
  color: #333;
}

#navbar a:hover {
  text-decoration: underline;
  color: black;
}

#navbar #logo a:visited,
#navbar #logo a:hover {
  text-decoration: none;
  color: #333;
}

#logo {
  float: left;
}

nav {
  float: right;
}

nav li {
  float: left;
}

/* catalog */
.catalog-title {
  text-align: center;
}

.catalog-product {
  width: 23%;
  float: left;
  margin-right: 50px;
}

/* footer-bg */
footer {
  background: #333;
}

#footer-box {
  width: 500px;
  margin: auto;
}

#footer-box p,
#footer-box a {
  color: #ccc;
  text-align: center;
}