* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

/* main styling */
a {
  text-decoration: none;
}

li {
  list-style: none;
}


/* utility */
.clr {
  clear: both;
}

.container {
  margin: auto;
  max-width: 90%;
  overflow: none;
  padding: 0 20px;
}

.current {
  text-decoration: underline !important;
  color: #fff !important;
}

/* cover */
#cover {
  background: url('./images/cover.jpeg') no-repeat center center / cover;
  min-height: 700px;
  filter: grayscale(100%);
}

/* navbar */
header {
  padding: 20px 50px;
}

#navbar a {
  color: #ccc;
  overflow: auto;
  padding: 10px 15px;
}

#navbar a:visited {
  text-decoration: none;
  color: #ccc;
}

#navbar a:hover {
  text-decoration: underline;
  color: white;
}

#navbar #logo a:visited,
#navbar #logo a:hover {
  text-decoration: none;
  color: #ccc;
}

#logo {
  float: left;
}

nav {
  float: right;
}

nav li {
  float: left;
}

/* word-box */

#word-box-border {
  border: 1px #fff solid;
  width: 300px;
  margin: auto;
  margin-top: 250px;
  /* border-radius: 15px; */
}

#word-box-bg {
  background: rgba(51, 51, 51, 0.5);
  /* border-radius: 15px; */
  /* background: #333; */
  /* opacity: 0.33; */
}

#word-box h2,
#word-box p {
  /* opacity: 1; */
  color: #fff;
  padding: 5px 5px;
  text-align: center;
}


#word-box a {
  color: black;
}

/* footer-bg */
footer {
  background: #333;
}

#footer-box {
  width: 500px;
  margin: auto;
}

#footer-box p,
#footer-box a {
  color: #ccc;
  text-align: center;
}